{% extends 'base.html' %}
{% load static %}

{% block contentleft %}
<h2 style="text-align: center;"><u> Enter the details</u></h2>
    <form action="{% url 'ajax_create' %}" method="POST">
        {% csrf_token %}
        <div class="container" style="padding:1rem;">
        <label><b>Name:</b></label>
        {{ form.name}}
        <br>
        <label ><b>Address:</b></label>
            
        {{ form.address}}
        <br>

        <label > 
            <b> Phone number:</b>
           </label>
        {{ form.phone_number}}
        </div>
        <div  style="padding:1rem;">
        <!-- <input type="submit" class="btn btn-primary" id="btnsave" value="save" onclick="testFunctino()"> -->
        <input type="submit" class="btn btn-primary" id="btnsave" value="save">
        <script src="{% static 'js/jQuery.js' %}"></script>
       
        </div>
    </form>

    
<script>
     $('btnsave').click(function(){
        console.log('save button clicked');
        var name=$('#nameid').val();
        var address=$('#addressid').val();
        var phone=$('#phoneid').val();
        if(name==''){
            console.log('please enter name');

        }
        else if(address==''){
            console.log('please enter address');
        }
        else if(phone==''){
            console.log('please enter phone');
        }
        data={ name:name, address:address,phone:phone};

        $.ajax(
            {
                url:"{% url 'ajax_create' %}",
                method:"POST",
                data:data,
                success:function(data){
                    x=data.student_data
                    if(data.status=='save'){
                        console.log('form submission successful');
                        for(i=0;i<x.length;i++){
                          output+="<tr><td>"+ x[i].name+
                            "</td><td>"+x[i].address+"</td><td>"
                              +x[i].phone_number+"</td></tr>"

                        }

                        console.log(data.student_data);
                        $('form')[0].reset();
                    }
                    if(data.status=='not saved'){
                        console.log("unable to save form");
                    }
                },



            }
        );

        


    });
  // function testFunctino(){
  //   console.log("Save button clicked")
  // }
</script>
   
{% endblock %}

{% block contentright %}
    <h2 style="text-align: center;"><u> Info of employees</u>
       </h2>
   
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">phone number</th>
        <th scope="col">Update</th>
        <th scope="col">delete</th>
      </tr>
    </thead>

    <tbody>
        {% for data in  queryset %}
            <tr>
                <td>{{ data.name}}</td>
                <td> {{ data.address }}</td>
                <td> {{ data.phone_number }}</td>
                <td><a href="{% url 'update' data.pk %}"  class="btn btn-secondary" id="btnupdate">Update</a></td>
                <td><a href="{% url 'delete' data.pk %}"  class="btn btn-danger">Delete</a></td>
            </tr>
      {% endfor %}
      
    </tbody>
  </table>

  {% endblock %}

      
      
    
 


   




